# Application
NODE_ENV=development
PORT=3000
LOG_LEVEL=debug

# Database
# Replace with your own MongoDB Atlas connection string
DATABASE_URL=mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTER>.mongodb.net/ais-vessel-map?retryWrites=true&w=majority

# AIS Feed Configuration
AIS_FEED_HOST=
AIS_FEED_PORT=
AIS_FEED_PROTOCOL=
AIS_FEED_RECONNECT_DELAY_MS=5000
